<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head %>
  </head>
  <body>
    <% include ../views/partials/nav %>

      <!-- Navigation
      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand" href="https://github.com/periannath/neural-fonts" target="_blank">
                      <span class="light">Neural Fonts</span>
                  </a>
              </div>

              <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li class="hidden">
                          <a href="#page-top"></a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#about">About</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#upload">Upload</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#parameters">Parameters</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#generate">Generate</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#download">Download</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>-->
      <div class="bs-docs-section clearfix">
            <div class="row">
              <div class="col-md-8 col-md-offset-1 col-xs-12">
                <div class="page-header">

                  <div id="banner">
                  </div>

</div>

                </div>



              </div>
            </div>
          </div>



      <div class="bs-docs-section clearfix">
        <div class="row">
            <div  class="col-md-8 col-md-offset-1 col-xs-12">

                <h1 id="upload">Upload Fonts</h1>
                <h1 id="generate">Test Image Generation</h1>

              <p id="input_file">  <input type="file" name="profile"></p>
              <div id="pre_image"></div>
              <div id="post_image"></div>
              <div class="container">
                <div class="optioncontainer">
                  <div id="optioncontainer"></div>
                </div>
                <div class="optioncontainer2">
                  <div id="optioncontainer2"></div>
                </div>

              </div>
              <!--<div class="btn-group" id="btn_group" role="group">
              <button id="undo_btn" class="btn btn-default">Undo</button>
            </div>-->

          </div>
        </div>
      </div>
      <div class="row">
          <div  class="col-md-8 col-md-offset-1 col-xs-12">
            <div class="progress progress-striped active">
              <div class="progress-bar  progress-bar-info" style="width: 45%"></div>
            </div>
          </div>
        </div>

    <!--  <div class="bs-docs-section clearfix">
        <div class="row">
            <div  class="col-md-8 col-md-offset-1 col-xs-12">
              <h1 id="parameters">Parameter Adjustment</h1>
              <div id="optioncontainer"></div>
              <div class="btn-group" id="btn_group" role="group">
                <button id="trace_btn" class="btn btn-primary">Trace</button>
                <button id="undo_btn" class="btn btn-default">Undo</button>
              </div>
            </div>
        </div>
      </div>-->


      <div class="bs-docs-section clearfix">
        <div class="row">

            <div  class="col-md-8 col-md-offset-1 col-xs-12">
              <div id="download_div">
              <h2 id="download">Download</h2>
                <p>전체 이미지 생성 후 다운로드</p>
              </div>

          </div>
        </div>
      </section>

  </body>
</html>
