<!DOCTYPE html>
<html>
  <head>
    <!-- jquery -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- my css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" media="screen">
  <link rel="stylesheet" href="/stylesheets/custom.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/main.css">


  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/imagetracer_v1.2.1.js"></script>

  <title>Neural Fonts</title>

  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Neural Fonts</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li>
                <a class="page-scroll" href="/about">About</a>
            </li>
            <li>
                <a class="page-scroll" href="#upload">Test</a>
            </li>
            <li>
                <a class="page-scroll" href="#generate">Generate</a>
            </li>
            <li>
                <a class="page-scroll" href="#download">Download</a>
            </li>

          </ul>

        </div>
      </div>
    </div>

    <div id="banner">
    </div>

            <div id="main_contents">
              <div id="content_1">
                <div id="upload">Upload Fonts Image</div>
                <p id="input_file">  <input type="file" name="profile"></p>
                <div id="pre_image"></div>
              </div>

              <div id="content_2">
                <div id="test_generate">Test Image Generation</div>
                <div id="post_image"></div>
              </div>

              <div id="range_all">

              <div id="range_container">
                <p class="ptag">ltres</p>
                <input class="range_bar" type="range" min="0" max="2" step="0.1" value="1" style="width:350px;">
                <p class="ptag">ltres</p>
                <input class="range_bar" type="range" min="0" max="2" step="0.1" value="1" style="width:350px;">
                <p class="ptag">ltres</p>
                <input class="range_bar" type="range" min="0" max="2" step="0.1" value="1" style="width:350px;">
                <p class="ptag">ltres</p>
                <input class="range_bar" type="range" min="0" max="2" step="0.1" value="1" style="width:350px;">
                <p class="ptag">ltres</p>
                <input class="range_bar" type="range" min="0" max="2" step="0.1" value="1" style="width:350px;">
              </div>
              <div id="range_container2">
                <p class="ptag">ltres</p>
                <input class="range_bar" type="range" min="0" max="2" step="0.1" value="1" style="width:350px;">
                <p class="ptag">ltres</p>
                <input class="range_bar" type="range" min="0" max="2" step="0.1" value="1" style="width:350px;">
                <p class="ptag">ltres</p>
                <input class="range_bar" type="range" min="0" max="2" step="0.1" value="1" style="width:350px;">
                <p class="ptag">ltres</p>
                <input class="range_bar" type="range" min="0" max="2" step="0.1" value="1" style="width:350px;">
                <p class="ptag">ltres</p>
                <input class="range_bar" type="range" min="0" max="2" step="0.1" value="1" style="width:350px;">
              </div>

            </div>
              <div id="option_box">
                <div class="optioncontainer">
                  <div id="optioncontainer"></div>
                </div>
                <div class="optioncontainer2">
                  <div id="optioncontainer2"></div>
                </div>

              </div>
              <div>
                <div id="generate">Generate All Images</div>
                <button class="btn btn-default" id="generate_button">START</button>
              </div>


          <div id="pg_bar">
            <div class="progress progress-striped active">
              <div class="progress-bar  progress-bar-info" style="width: 45%"></div>
            </div>
          </div>

              <div id="download_div">
              <p id="download">Download</p>
                <p>전체 이미지 생성 후 다운로드</p>
              </div>
        </div>
  </body>
</html>
<script>

</script>
