<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head %>
    <script src="http://malsup.github.com/jquery.form.js"></script>
  </head>
  <body>
    <% include ../views/partials/nav %>

    <script>
      var intervalObj;
      $(document).ready(function() {
        $('#uploadForm').on('submit',function(e) {
           e.preventDefault();

           // Begin uploading (this will start entire training)
           $(this).ajaxSubmit({
             url:'/train', 
             type:"POST",
              data:'startTrain',
              error: function(xhr) {
                $("#status").empty().text('Error: ' + xhr.status);
              },
              success: function(response) {
                if (response.doing_training) {
                  console.log('Already doing training'); 
                }
                else
                  console.log('Start DNN training');
              }
           });
           
           // Progress checker (check progress every 1 sec)
           intervalObj = window.setInterval(function() {
             $.ajax({
               url:'/progress',
               type:"POST",
               data:"progress check",
               error: function(xhr) { $("#status").empty().text('Error: ' + xhr.status);},
               success: function(response) {
                  $("#pgBar").attr('style', 'width: ' + response.progress + '%');
                  $("#status").empty().text(response.progress_msg);

                 if (response.progress == 100) {
                 // stop checking progress
                  clearInterval(intervalObj);
                  $.ajax({
                    url:'/adjust',
                    type:"GET",
                    dataType:"html",
                    success: function(data) {
                      window.location.href='/adjust';
                    }
                  });
                 }
                }
             });
           }, 1000);
           return false;
        });
      });
    </script>

    <div id="upload_container">
    <div class="container" id="upload_top" style="padding-top: 70px">
      <div class="row">
        <div class="col-lg-12">
          <h2 style="font-size: 40px">Upload your font design</h2>
        </div>
      </div>
    </div>
    <div class="container" style="padding-top: 70px">
      <div class="row">
        <div class="col-lg-12">
          <form id="uploadForm"
                enctype="multipart/form-data">
            <center><input type="file" class="btn btn-default" name="fontPhoto" multiple/></center>
            <center><input style="margin-top: 20px" type="submit" class="btn btn-primary" value="Upload Image" name="submit"/></center>
            <span id = "status"></span>
          </form>
        </div>
      </div>
    </div>
    <div class="container" style="padding-top: 50px; padding-bottom: 100px"">
      <div class="row">
        <div class="col-lg-12">
          <div id="pg_bar">
            <div class="progress progress-striped active">
              <div class="progress-bar  progress-bar-info" id="pgBar" style="width: 0%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <% include ../views/partials/footer %>
  </body>
  </html>
