<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head %>
    <script src="http://malsup.github.com/jquery.form.js"></script>
  </head>
  <body>
    <% include ../views/partials/nav %>

    <script>
      var intervalObj;
      $(document).ready(function() {
         $('#uploadForm').on('submit',function(e) {
           e.preventDefault();
           $("#status").empty().text("Files are being uploaded...");
           $(this).ajaxSubmit({
              type:"POST",
              error: function(xhr) {
                status('Error: ' + xhr.status);
              },
              success: function(response) {
                if (response.success) {
                  $("#status").empty().text("File upload complete");
                  var count=0;
                  intervalObj = window.setInterval(function() {
                    $.ajax({
                      url:'/progress',
                      type:"POST",
                      data:"progress check",
                      error: function(xhr) { status('Error: ' + xhr.status);},
                      success: function(response) {
                        let pgr = response.progress;
                        if (pgr == "complete") {
                          clearInterval(intervalObj);
                          $("#pgBar").attr('style', 'width: 100%');
                          $.ajax({
                            url:'/adjust',
                            type:"GET",
                            dataType:"html",
                            success: function(data) {
                              window.location.href='/adjust';
                            }
                          });
                        }
                        else {
                          $("#pgBar").attr('style', 'width:' + pgr +'%');
                        }
                      }
                    });
                  }, 100);
                }
              }
           });
           return false;
        });
      });
    </script>

    <div id="upload_container">
    <div class="container" id="upload_top" style="padding-top: 70px">
      <div class="row">
        <div class="col-lg-12">
          <h2 style="font-size: 40px">Upload your font design</h2>
        </div>
      </div>
    </div>
    <div class="container" style="padding-top: 70px">
      <div class="row">
        <div class="col-lg-12">
          <form id="uploadForm"
                enctype="multipart/form-data">
            <center><input type="file" class="btn btn-default" name="fontPhoto" multiple/></center>
            <center><input style="margin-top: 20px" type="submit" class="btn btn-primary" value="Upload Image" name="submit"/></center>
            <span id = "status"></span>
          </form>
        </div>
      </div>
    </div>
    <div class="container" style="padding-top: 50px; padding-bottom: 100px"">
      <div class="row">
        <div class="col-lg-12">
          <div id="pg_bar">
            <div class="progress progress-striped active">
              <div class="progress-bar  progress-bar-info" id="pgBar" style="width: 0%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <% include ../views/partials/footer %>
  </body>
  </html>
